.container {
    background-color: rgb(251, 251, 251);
    border: 3px solid #3D4280;
    border-radius: 9px;
    /* height: 240px; */
    height: 90%;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;

}

.name {
    text-decoration: none;
    color: #3D4280 !important;
    margin-bottom: 12px;
    margin-top: 13px;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 15px;
}

.continent {
    text-decoration: none;
    color: #3D4280 !important;
    padding-bottom: 8px;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 13px;

}

.image {
    max-height: 130px;
    width: 100%;
    border-radius: 4px;
}

.container:hover {
    background-color: #e7e9ff;
}