.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    background-color: #F1F1F1;
    height: 100vh;
}

.link {
    margin-bottom: 10%;
}

.leftContainer {
    margin-top: -5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgb(178, 255, 229);
}

.btnBack {
    margin-bottom: 20%;
    font-weight: 548;
    height: 80%;
    padding: 3%;
    width: 7vw;
    font-size: 1.4rem;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
}


.formContainer {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCreate {
    font-weight: 548;
    font-size: 30px;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
    margin-top: 15px;
    height: 6vh;
    width: 15vw;
}

.btnBack:hover {
    color: #F9F9FC !important;
    background: #3D4280;
    background: linear-gradient(to top, #5e63a8, #C8C8F5);
}

.btnCreate:hover {
    color: #F9F9FC !important;
    background: #3D4280;
    background: linear-gradient(to top, #5e63a8, #C8C8F5);
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 60%;
    border: 3px #3D4280 solid;
    border-radius: 15px;
}

.inputName {
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 13px;
    border: 1px solid #3D4280;
    border-radius: 4px;
    height: 25px;
    width: 20vw;
}

.inputDifficulty {
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 13px;
    border: 1px solid #3D4280;
    border-radius: 4px;
    height: 25px;
    width: 18.2vw;
}

.inputDuration {
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 13px;
    border: 1px solid #3D4280;
    border-radius: 4px;
    height: 25px;
    width: 18.3vw;
}

.title {
    text-decoration: underline;
    margin-top: 0%;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 2.7rem;

}

.label {
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 1.7rem;
}

.form {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: normal;
    
}

.check {
    width: 1.8vw;
    height: 1.85vh;
    width: 1.85vw;
    font-size: 1rem;
}

.difContainer {
    margin-top: 10px;
}

.durContainer {
    margin-top: 10px;
}

.seasonContainer {
    margin-top: 10px;
}

.countryContainer {
    margin-top: 10px;
}

.select {
    font-weight: 520;
    height: 25px;
    width: 19.3vw;
    font-size: 18px;
    color: black !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
}

.errorName {
    color: red;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
}

.errorDif {
    color: red;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;

}

.errorDur {
    color: red;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;

}

.errorSeason {
    color: red;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;

}

.errorCountry {
    color: red;
    margin-top: 1%;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;

}

.btnRemove {
    font-family: arial;
    font-weight: bold;
    color: #000000 !important;
    font-size: 13px;
    text-shadow: 0px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 0px 2px;
    margin-left: 5px;
    border-radius: 4px;
    border: 2px solid #454545;
    background: #EEBCBC;
    background: linear-gradient(to top, #EEBCBC, #F56262);
    cursor: pointer;
}

.btnRemove:hover {
    color: #000000 !important;
    background: #CF6C5D;
    background: linear-gradient(to top, #CF6C5D, #EEE2E0);
}

.addedContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 15px;
}

.addedCountries {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 10px;
    /* margin-top: -17px; */
    height: 0px;
}
