.mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    background-color: #F1F1F1;
    min-height: 100vh;
}

.countryContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 150px; */
    width: 50%;
    flex-direction: column;
    /* padding-bottom: 55px; */

}

.activityContainer {
    background-color: rgb(178, 255, 229);
    /* padding-top: 100px; */
    display: flex;
    width: 50%;
    flex-direction: column;
    /* padding-bottom: 32px; */

}

.countryName {
    margin-bottom: 25px;
    border: 3px #3D4280 solid;
    border-radius: 6px;
    color: #3D4280 !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 2.3rem; 
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 17%;
    padding-left: 17%;
}

.img {
    border-radius: 6px;
    margin-bottom: 3%;
    margin-top: 3%;
    height: 180px;
    width: 340px;
}

.info {
    display: flex;
    color: #3D4280 !important;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 17px; 
}

.activities {
    color: black;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 38px;
    /* margin-top: -5%; */
    /* margin-bottom: 5%; */
    /* margin-top: -40px; */
    /* margin-bottom: 60px; */
}

.actInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 220px; */
    color: black;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 17px;  
}

.duration {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* margin-left: 220px; */
    color: black;
    font-family: Tahoma, Verdana, Segoe, sans-serif; 
    font-size: 17px; 
    margin-bottom: 40px;
}

.btn {
    font-weight: 548;
    height: 5vh;
    width: 6vw;
    font-size: 21px;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
    margin-bottom: 5%;
    float: inline-end;
}

.link {
    height: 17vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}

.btn:hover {
    color: #F9F9FC !important;
    background: #3D4280;
    background: linear-gradient(to top, #5e63a8, #C8C8F5);
}

.noAct {
    margin-bottom: 210px;
}
