.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #F1F1F1;
    border-bottom: 1px solid black;
    height: 60px;
}

.title {
    font-family: helvetica;
    font-weight: bold;
    color: #3D4280 !important;
    font-size: 35px;
    display: flex;
    margin-left: 23px;
    margin-top: 10px;
    cursor: pointer;
}

.container1Page {
    background-color: rgb(216, 255, 241);
    height: 100%;
    padding-bottom: 1px;
}

.cardContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50%;
    height: 532px;
    background-color: rgb(216, 255, 241);
    align-content: stretch;
}

.btnActivity {
    margin-left: 3px;
    font-weight: 545;
    height: 39px;
    width: 200px;
    font-size: 17px;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 22px;
}

.btnActivity:hover {
    color: #F9F9FC !important;
    background: #3D4280;
    background: linear-gradient(to top, #5e63a8, #C8C8F5);
}

.link {
    text-decoration: none;
}

.filtersContainer {
    margin: 15px;
    margin-left: 47px;
}

.select {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 520;
    height: 26px;
    width: 200px;
    font-size: 15px;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
}

.btnReload {
    margin-left: 5px;
    font-weight: 520;
    height: 26px;
    width: 170px;
    font-size: 16px;
    color: #3D4280 !important;
    border: 1px solid #3D4280;
    border-radius: 4px;
    background-color: #F9F9FC;
    cursor: pointer;
}

.btnReload:hover {
    color: #F9F9FC !important;
    background: #3D4280;
    background: linear-gradient(to top, #5e63a8, #C8C8F5);
}

.mainContainer {
    margin-left: 10px;
    margin-right: 10px;
}